/* styles.css */

/* Allgemeine Stile für den Header */
header {
  background-color: #4CAF50; /* Hintergrundfarbe */
  color: #fff; /* Textfarbe */
  padding: 20px; /* Innenabstand */
  text-align: center; /* Zentrierte Ausrichtung des Textes */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schatten-Effekt */
}

/* Stile für den Titel im Header */
header h1 {
  margin: 0; /* Kein Außenabstand */
  font-size: 24px; /* Schriftgröße */
  font-weight: bold; /* Fett gedruckte Schrift */
}

/* Hauptbereich */
main {
  margin: 20px;
}





table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
  text-align: center;
}



input[type="text"] {
  width: calc(100% - 16px);
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #4CAF50;
  outline: none;
}

.zutaten-reihe {
  display: grid;
  justify-content:  center;
  align-items: center;
  grid-template-columns: 4fr 1fr 1fr;
  grid-column-gap: 10px;
}


.zutaten-reihe input[type="text"] {
  width: calc(50% - 8px);
}


.menu-bearbeitungs-btn,
.zutaten-bearbeitungs-btn,
.weitere-zutaten-btn {
  padding: 8px 16px;
  margin-left: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-bearbeitungs-btn:hover,
.zutaten-bearbeitungs-btn:hover,
.weitere-zutaten-btn:hover {
  background-color: #45a049;
}

.weitere-zutaten-btn {
  margin-top: 8px;
}

.plus-btn, .minus-btn {
  color: white;
  background-color: #45a049;
  padding: 4px;
  margin-left: 3px;
  margin-right: 3px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  border: none;
}