/* styles.css */

/* Allgemeine Stile für den Header */
header {
  background-color: #4CAF50; /* Hintergrundfarbe */
  color: #fff; /* Textfarbe */
  padding: 20px; /* Innenabstand */
  text-align: center; /* Zentrierte Ausrichtung des Textes */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schatten-Effekt */
}

/* Stile für den Titel im Header */
header h1 {
  margin: 0; /* Kein Außenabstand */
  font-size: 24px; /* Schriftgröße */
  font-weight: bold; /* Fett gedruckte Schrift */
}

/* Hauptbereich */
main {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.menu-option {
  width: 30%;
  text-align: center;
}

.menu-option img {
  width: 100%;
  border-radius: 8px;
}

.menu-option a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.menu-option span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
